---
layout: default
title: Beats & Deets event planning
header_image: images/headers/home-header.jpg
features:
  - title: One-on-one attention
    description: Work with real professionals, not an online tool.
    icon: attention
  - title: Personal Freedom
    description: One-stop-shop. Less time and stress meeting with multiple vendors!
    icon: freedom
  - title: Proven Experience
    description: From weddings to parties, we got it covered.
    icon: experience
  - title: Discounted Deals
    description: Interested in multiple services? More you book, the deeper the discount.
    icon: deals
  - title: Innovative ideas
    description: Working in multiple facets, enables us to make sure all components of your event are working together.
    icon: ideas
  - title: Passion
    description: We do what we do because we love it!
    icon: passion
---
<header role="region" aria-labelledby="beats-and-deets" class="page--header editable" style="background-image: url('{{page.header_image}}')">
  <div class="page--header-container">
    <div class="page--header-content">
      <h1 id="beats-and-deets" class="title editable">Wedding & event solutions done right!</h1>
      <p class="description editable">Bringing your event to life, one Beat and Deet at a time.</p>
      <a href="{{ site.baseurl }}/services" class="button button--primary button__long">View Our Services</a>
    </div>
  </div>
</header>
<section class="page--section blue">
  <div class="page--section-container">
    <header class="page--section-header">
      <h4 class="page--section-title inverse editable">We are Beats <span class="slab">&amp;</span> Deets</h4>
      <hr class="title--border" />
    </header>
    <div class="page--section-content">
      <img src="{{site.baseurl}}/images/logos/bd-white.svg" alt="Beats And Deets Logo" class="home-about-image" />
      <p class="inverse home-about-content editable">Beats and Deets is a Chicago based company that offers a wide range of wedding and event detailing and planning needs. Adam Ryan, founder, received a Bachelor&rsquo;s of Fine Art with a focus on Graphic Design and Photography from Illinois State University. He has worked in the creative industry as an Art Director for 14 years, which gives him the ability to bring an innovative perspective to anything you might need. <a class="link--secondary" href="{{site.baseurl}}/about">Read More</a></p>
    </div>
  </div>
</section>
<section class="page--section tan">
  <div class="page--section-container">
    <header class="page--section-header">
      <h4 class="page--section-title editable">What We Offer</h4>
      <hr class="title--border">
    </header>
    <div class="grid">
      <ul class="grid--list services-list--home">
        {% for service in site.data.services limit:6 %}
          {% include service-item.html %}
        {% endfor %}
      </ul>
      <div class="page--section-content center">
        <a href="{{site.baseurl}}/services" class="button button--primary button__large">View All Our Services</a>
      </div>
    </div>
  </div>
</section>
<section class="page--section about-ad">
  {% include about-ad.html %}
</section>
<section class="page--section reset-padding-bottom">
  <div class="page--section-container">
    {% include company-reviews.html %}
    {% include join-ad.html %}
    {% include contact-ad.html %}
  </div>
</section>