---
layout: default
title: Wedding and party services | Beats & Deets
header_image: ../images/headers/service-header.jpg
---

<header role="region" aria-labelledby="services" class="page--header small" style="background-image: url('{{page.header_image}}')">
  <div class="page--header-content">
    <h1 id="services" class="title editable">Intro Header Goes Here</h1>
    <p class="description editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</header>
<section class="page--section blue">
  <div class="page--section-container">
    <header class="page--section-header">
      <h4 class="page--section-title inverse editable">Your Vision. Our Team.</h4>
      <hr class="title--border">
    </header>
    <div class="page--section-content">
      <p class="page--section-content__center inverse editable">Many people often spend months researching vendors, scheduling appointments, making deposits, and then tracking everything the day of to make sure all your hard work goes exactly how you planned it. We take all of that stress out by offering a one stop shop for all your event detailing and planning needs. We have called in the troops and have compiled an incredible team filled with creativity ready to tackle any event that comes our way.</p>
    </div>
  </div>
</section>
<section class="page--section tan">
  <div class="page--section-container">
    <header class="page--section-header">
      <h4 class="page--section-title editable">What we offer</h4>
      <hr class="title--border">
    </header>
    <div class="grid service">
      <ul class="grid--list services-list--service">
        {% for service in site.data.services %}
          {% include service-item.html %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<section class="page--section reset-padding-bottom">
  <div class="page--section-container">
    {% include contact-big-ad.html %}
  </div>
</section>