---
layout: default
title: Beats & Deets preferred wedding and party venues
header_image: ../images/headers/venues-header.jpg
---

<header role="region" aria-labelledby="venues" class="page--header small" style="background-image: url('{{page.header_image}}')">
  <div class="page--header-container">
    <div class="page--header-content">
      <h1 id="venues" class="title editable">Choosing a venue can be a daunting task</h1>
      <p class="description editable">We compiled some of the best venues we have worked with over the years to help you narrow your search.</p>
    </div>
  </div>
</header>
<section class="page--section blue">
  <div class="page--section-container">
    <header class="page--section-header">
      <h4 class="page--section-title inverse editable">Our promise to you</h4>
      <hr class="title--border">
    </header>
    <div class="page--section-content">
      <p class="page--section-content__center inverse editable">Many people often spend months researching vendors, scheduling appointments, making deposits, and then tracking everything the day of to make sure all your hard work goes exactly how you planned it. We take all of that stress out by offering a one stop shop for all your event detailing and planning needs. We have called in the troops and have compiled an incredible team filled with creativity ready to tackle any event that comes our way.</p>
    </div>
  </div>
</section>
<section class="page--section tan">
  <div class="page--section-container">
    <header class="page--section-header">
      <h4 class="page--section-title editable">Discover your venue</h4>
      <hr class="title--border">
    </header>
    <ul class="venues">
      {% for venue in site.data.venues %}
        <li class="card venue">
          <div class="venue--content">
            <h5 class="title">{{venue.name}}</h5>
            <p class="description">{{venue.location}}</p><br>
            {% if venue.url %}
              <a href="{{venue.url}}" class="button button--secondary" target="_blank">View Venue</a>
            {% endif %}
          </div>
          <div class="venue--image" style="background-image: url(../images/venues/{{venue.picture}})"></div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="page--section reset-padding-bottom">
  <div class="page--section-container">
    {% include contact-big-ad.html %}
  </div>
</section>