<div class="page--section-container">
  <header class="page--section-header">
    <h4 class="page--section-title inverse editable">Why Choose Beats <span class="slab">&amp;</span> Deets</h4>
    <hr class="title--border">
  </header>
  <div class="page--section-content">
    <ul class="about-ad--list">
      {% for feature in page.features %}
        <li class="about-ad--item">
          <i class="about-ad--icon {{feature.icon}}--icon">{{feature.title}}</i>
          <h5 class="title editable">{{feature.title}}</h5>
          <p class="description editable">{{feature.description}}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
