<footer class="footer">
  <div class="page--section-container">
    {% image logos/logo-white.svg class="footer--logo" %}
    <nav class="footer--navigation">
      <ul>
        <li class="footer--navigation-link"><a href="{{site.baseurl}}">Home</a></li>
        <li class="footer--navigation-link"><a href="{{site.baseurl}}services">Services</a></li>
        <li class="footer--navigation-link"><a href="{{site.baseurl}}venues">Venues</a></li>
        <li class="footer--navigation-link"><a href="{{site.baseurl}}about">About</a></li>
        <li class="footer--navigation-link"><a href="{{site.baseurl}}contact">Contact Us</a></li>
      </ul>
    </nav>
    <nav class="footer--navigation footer--social">
      <ul>
        <li class="footer--navigation-link"><a href="#" class="facebook--icon">Facebook</a></li>
        <li class="footer--navigation-link"><a href="#" class="instagram--icon">Instagram</a></li>
        <li class="footer--navigation-link"><a href="#" class="twitter--icon">Twitter</a></li>
      </ul>
    </nav>
    <p class="footer--footnote">&copy; Beats &amp; Deets {{ site.time | date: '%Y' }} | All Right Reserved</p>
  </div>
</footer>