<header class="topbar" role="banner">
  <nav class="navigation" role="site-navigation">
    <div class="navigation--left">
      <a href="#" class="mobile--link mobile--show js-menu-trigger sliding-menu-button">
        {% image icons/menu-icon.svg class="mobile--show" alt="navigation trigger" %}
      </a>
      <a href="/">
        {% image logos/logo-color.svg class="logo" alt="Beats And Deets" %}
      </a>
    </div>
    <div class="js-menu mobile--panel">
      <ul class="navigation--right">
        {% image logos/logo-color.svg class="mobile--show logo" alt="Beats And Deets" %}
        <li class="nav-link">
          <a href="#" class="dropdown-trigger mobile--hide"> Services {% image icons/dropdown-icon.svg class="dropdown-icon" %}
          </a>
          <ul class="sub-menu">
            <li class="nav-link"><a href="{{ site.baseurl }}/services">View All Services</a></li>
            {% for service in site.data.services %}
              <li class="nav-link"><a href="{{base.siteurl}}/services/{{service.url}}">{{ service.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <div class="mobile--show">
          <li class="nav-link"><a href="{{ site.baseurl }}/services">View All Services</a></li>
          {% for service in site.data.services %}
            <li class="nav-link"><a href="{{base.siteurl}}/services/{{service.url}}">{{ service.name }}</a></li>
          {% endfor %}
        </div>
        <li class="nav-link"><a href="{{ site.baseurl }}/venues">Venues</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/about">About Us</a></li>
        <li class="nav-link"><a href="{{ site.baseurl }}/contact" class="button button--outline">Contact Us</a></li>
      </ul>
    </div>
    <div class="js-menu-screen mobile--panel__fade-screen"></div>
  </nav>
</header>