---
layout: default
title: Wedding and event photography done how you want
header_image: ../../images/headers/photography-header.jpg
details:
  - title: About Our Photography
    description: Photography is medium for capturing unique and memorable mo- ments. That is exactly what we will do for you. We will work with you ahead of time to develope a shotlist of “Must haves” , but won’t stop there. Our specialty is telling the story of your event through the images captured. Our photographers will blend in and let your guests act naturally without the pressured poses of most photogra- phers. If you are looking for that unique shot, we offer location-scouting services as well. Please inquire.
  - title: Special Options
    description: You want to bring your wedding or event to life? We offer services for doing live streams of an instagram feed to a projector so your event images can be playing in the background to create a unique and interactive experience for your guests. What’s better than seeing yourself on the big screen? This will also enable you to see all your pictures your guests took in one place in real time! Please inquire for pricing.
images:
  - url: ../../images/services/photography-1.jpg
    alt: Sample Photo
  - url: ../../images/services/photography-2.jpg
    alt: Sample Beats and Deets Photo
  - url: ../../images/services/photography-3.jpg
    alt: Last Sample Photo
reviews:
  - quote: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    name: Kurt Cunningham
  - quote: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    name: Kesley Zahn
  - quote: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    name: Anna Ryan
prices:
  - package: Package 1
    price: $2,250
    details:
      - item: 1 Lead Photgrapher  
      - item: 1 Assitant Photographer 
      - item: Wedding Day coverage from preparation thru reception formalities 
      - item: Digital files with print release
  - package: Package 2
    price: $2,750
    details:
      - item: 1 Lead Photgrapher  
      - item: 1 Assitant Photographer 
      - item: Wedding Day coverage from preparation thru reception formalities 
      - item: Digital files with print release
      - item: 10 x 10 Press Printed Book
  - package: Package 3
    price: $3,150
    details:
      - item: 1 Lead Photgrapher  
      - item: 1 Assitant Photographer 
      - item: Wedding Day coverage from preparation thru reception formalities 
      - item: Digital files with print release
      - item: 10 x 10 Press Printed Book
      - item: (2) 8 x 8 Parent Albums
---

<header role="region" aria-labelledby="services" class="small page--header editable" style="background-image: url('{{page.header_image}}')">
  <div class="page--header-content">
    <h1 id="services" class="title editable">Service Header Goes Here</h1>
    <p class="description editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</header>
<section class="page--section tan">
  <div class="page--section-container service">
    <div class="service--content-left">
      <img src="{{site.baseurl}}/images/services/photography-sample-img.jpg">
    </div>
    <div class="service--content-right">
      <ul class="tabs">
        {% for detail in page.details %}
          <li class="tab">
          <a href="#" class="tab--link">{{ detail.title }}</a>
          <div class="tab--content">
            <p class="tab--content__paragraph">{{ detail.description }}</p>
          </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<section class="page--section blue">
  <div class="page--section-container">
    <header class="page--section-header">
      <h4 class="page--section-title inverse editable">Wedding Prepackaged Pricing</h4>
      <hr class="title--border">
    </header>
    <div class="page--section-content">
      <p class="page--section-content__center center inverse editable">We don’t really believe in prepacked pricing as every event is different and demands different solutions. We also know that budgets are an important part of the planning process. We have included a variety of packages to help you get a sense of your investment.</p>
      <ul class="prices">
        {% for price in page.prices %}
          <li class="price card">
            <h5 class="price--title">{{ price.package }}</h5>
            <h3 class="price--cost">{{ price.price }}</h3>
            <ul>
              {% for detail in price.details %}
                <li class="price--detail">{{ detail.item }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
      <footer class="page--section-content__center center">
        <small class="inverse">* You Choose your favorite 70 images for the 10 x 10 Press Printed Book  <br> * To reserve your wedding date, a deposit of $300 must be made.  <br> * Look for deeper discounts when combining with any of our other services.</small>
        <a href="{{site.baseurl}}/contact" role="button" class="button button--outline__white button__long price--button editable">Book A Photographer</a>
      </footer>

    </div>
  </div>
</section>
<section class="page--section reset-padding-bottom">
  <ul class="slider--images">
    {% for image in page.images %}
      <li class="slider--images-item editable">
        <img src="{{image.url}}" alt="{{image.alt}}">
      </li>
    {% endfor %}
  </ul>
</section>
<section class="page--section reset-padding-bottom">
  <div class="page--section-container">
    <!-- <ul class="slider--content">
      {% for review in page.reviews %}
         <li class="slider--content-item editable">
          <blockquote>&quot;{{review.quote}}&quot;
            <cite>{{review.name}}</cite>
          </blockquote>
        </li>
      {% endfor %}
    </ul> -->
    {% include company-reviews.html %}
    {% include contact-big-ad.html %}
  </div>
</section>