// Card Component
// ========================================


// Variables
$card-background:    $white-base;
$card-border-radius: 1px;
$card-offset:        20px;
$card-padding:       40px 20px;
$card-spread:        0 0 10px;
$card-shadow:        rgba(0, 0, 0, 0.25);


// Structure
.card {
  @include rem(margin-top, $card-offset);
  @include rem(padding, $card-padding);
  background-color: $card-background;
  border-radius: $card-border-radius;

  &.card__shadow{
     @include box-shadow($card-spread, $card-shadow);
  }
}