// Footer Component
// ========================================


// Variables
$footer-background:          $black-base;
$footer-padding:             30px 0;

$footer-navigation-margin:   0 auto 30px;

$footer-link-color:          $white-base;
$footer-link-margin:         0 20px;
$footer-link-mobile-margin:  10px 20px;


// Structure
.footer {
  @include rem(padding, $footer-padding);
  background-color: $footer-background;
  text-align: center;
}

.footer--logo {
  @include rem(margin-bottom, 30px);
  @include rem(width, 250px);
}

.footer--navigation {
  @include rem(margin, $footer-navigation-margin);
}

.footer--navigation-link {
  @include font-type($primary-serif, normal, 400);
  @include rem(margin, $footer-link-mobile-margin);
  color: $footer-link-color;
  display: block;
  text-transform: uppercase;

  @include media($tablet) {
    @include rem(margin, $footer-link-margin);
    display: inline-block;
  }
}

.footer--social {
  .footer--navigation-link { display: inline; }
}

.footer--footnote {
  @include font-type($primary-sans-serif, normal, 400);
  @include s-hotel;
  color: $white-base;
}