// Form Styles Stylesheet
// ========================================

// Labels
label {
  @include font-type($primary-sans-serif, normal, 700);
  @include rem(margin-bottom, 10px);
  @include s-foxtrot;
  display: block;
  text-transform: capitalize;
}

fieldset {
  @include rem(margin-bottom, 50px);
}

.half-group { @include span-columns(6 of 12); }
.third-group { @include span-columns(4 of 12); }

// Inputs
#{$all-text-inputs},
input,
select,
textarea {
  @include appearance(none);
  @include font-type($primary-serif, normal, 300);
  @include placeholder{ font-style: italic; }
  @include s-foxtrot;
  background-color: $white-base;
  border: none;
  border-bottom: 1px solid $tan-dark;
  box-sizing: border-box;
  height: 40px;
  padding: 8px 6px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-appearance: none;

  &:focus {
    @include box-shadow(0 0 0, transparent);
    border-color: $blue-base;
    color: $orange-base;
    outline: none;
  }

  &:disabled {
    background-color: $white-dark;
    border: 1px solid $grey-base;

    &:hover { cursor: disabled; }
  }
}

button { border: none; }


// Checkboxes
input[type="checkbox"]{
  @include position(relative);
  @include rem(height, 14px);
  @include rem(margin-right, 8px);
  @include rem(margin-top, -1px);
  @include rem(width, 17px);
  @include transition();
  background-color: $white-base;
  border: 1px solid $grey-base;
  border-radius: 2px;
  display: inline-block;
  float: left;
  -webkit-appearance: none;

  &:hover{ cursor: pointer; }

  &:checked{
    border: 1px solid $orange-base;

    &:after{
      @include position(absolute, 4px null null 2px);
      @include rem(width, 12px);
      @include transition(all 0.2s ease-in);
      background-image: url('../images/icons/checkmark-icon.svg');
      background-repeat: no-repeat;
      border-radius: 2px;
      content: '';
      height: 100%;
    }
  }
}
