// Slider Components
// ========================================


// Variables
$content-slider-background:  $orange-base;
$content-slider-padding:     75px 30px;


// Structure
.owl-carousel .animated {
  @include animation-duration(1000ms);
  @include animation-fill-mode(both);
}

.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
.owl-carousel .fadeOut { @include animation-name(fade-out) }

.slider--content {
  @include rem(padding, $content-slider-padding);
  background-color: $content-slider-background;

  .slider--content-item { background-color: $content-slider-background; }
}

.owl-carousel {
  @include position(relative);
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  @include position(relative);
  -ms-touch-action: pan-Y;

  &:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}

.owl-carousel .owl-stage-outer {
  @include position(relative);
  @include transform(translate3d(0, 0, 0));
  overflow: hidden;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  @include user-select(none);
  cursor: pointer;
  cursor: hand;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  @include position(relative);
  @include backface-visibility(hidden);
  @include user-select(none);
  float: left;
  min-height: 1px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  @include transform-style(preserve-3d);
  display: block;
  width: 100%;
}

.owl-carousel.owl-text-select-on .owl-item {
  @include user-select(auto);
}

.owl-prev,
.owl-next{
  @include media($tablet){
    @include position(absolute, 37% null null null);
    @include rem(height, 50px);
    @include rem(width, 50px);
    @include transition(all 0.2s ease-in);
    background: url('../../images/icons/next-button-icon.svg') no-repeat;
    background-size: 100%;
    display: block;
    opacity: 0.7;
    text-indent: -99999px;
  }

  &:hover{ opacity: 1; }
}

.owl-prev{ left: 20px; }
.owl-next{ right: 20px; @include transform(rotate(180deg)) }