// Page Header Variables
// ========================================

// Variables
$page-header-home:    asset_path('headers/home-header.jpg');
$page-header-service: asset_path('headers/service-header.jpg');



// List
$header-images: (
  home     $page-header-home,
  service  $page-header-service
);