// Page Header Variables
// ========================================

// Variables
$page-header-home:   '{{site.baseurl}}/../../../images/headers/home-header.jpg';
$page-header-service:'{{site.baseurl}}/../../../images/headers/service-header.jpg';
$page-header-venues: '{{site.baseurl}}/../../../images/headers/service-header.jpg';


// List
$header-images: (
  home     $page-header-home,
  service  $page-header-service,
  venues   $page-header-venues
);