// About Styles
// ========================================


// Variables
$member-card-height:      360px;

$member-name-background:  $blue-base;
$member-name-color:       $white-base;
$member-name-padding:     15px 0;

$member-image-margin:     0 0 -5px;

$member-info-background:  $orange-base;
$member-info-padding:     30px;


// Member Card

.member {
  @include clearfix;
  @include perspective(1000);
  @include rem(margin, 0 0 100px);
  @include span-columns(4 of 4);

  &:nth-child(2n){ margin-right: 0; }

  img { width: 100%; }

  @include media($tablet) {
    @include span-columns(6 of 12);
  }

  @include media($tablet-landscape) {
    @include span-columns(4 of 12);

    &:nth-child(2n){ margin-right: 2.35765%; }
    &:nth-child(3n){ margin-right: 0; }
  }
}

.member:hover .member--content {
  @include transform(rotateY(180deg));
}

.member--content {
  @include position(relative);
  @include transform-style(preserve-3d);
  @include transition(all 0.4s ease-in-out);
  height: 0;
  padding-bottom: 100%;
}

.member--front,
.member--back {
  @include position(absolute, 0 null null 0);
  @include backface-visibility(hidden);
  -ms-backface-visibility: hidden;
  max-width: 640px;
  width: 100%;
}

.member--front {
  @include transform(rotateY(0deg));
  z-index: 2;
}

.member--back {
  @include rem(padding, $member-info-padding);
  @include rem(min-height, $member-card-height);
  @include transform(rotateY(180deg));
  background-color: $member-info-background;
  color: $white-base;

  .button {
    @include rem(margin-top, 20px);
    display: block;
  }
}


// Member Card Details
.member--image {
  @include rem(margin, $member-image-margin);
  width: 100%;
}

.member--name  {
  @include rem(padding, $member-name-padding);
  background-color: $member-name-background;
  color: $member-name-color;
  margin: 0;
  text-align: center;
}


// Member Details
.member-details__left {
  @include rem(height, 350px);
  float: none;
  overflow: hidden;
  width: 100%;

  @include media($tablet-landscape) {
    @include rem(margin-bottom, -2px);
    @include span-columns(6 of 12);
    height: 100%;
  }

  .member-detail--image {
    width: 100%;
  }
}

.member-details__right {
  @include position(relative);
  @include rem(padding, 0 20px 50px);
  @include span-columns(4 of 4);
  overflow: hidden;

  @include media($tablet-landscape) {
    @include rem(height, 600px);
    @include rem(padding, 30px 20px 10px 0);
    @include span-columns(6 of 12);
    overflow-y: scroll;
  }
}

.modal-close-bar {
  @include font-type($primary-sans-serif, normal, 700);
  @include position(absolute, null 0 0 0);
  @include rem(padding, 15px);
  @include s-echo;
  background-color: $blue-base;
  color: $white-base;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.member-details--group {
  @include rem(margin, 30px auto);

  .title {
    @include s-charlie;
    color: $tan-dark;
  }
}


.member-details--name {
  @include font-type($primary-serif, normal, 400);
  @include rem(margin-bottom, 30px);
  color: $orange-base;
}

.member-details-services {
  height: 15px;
  @include media($tablet-landscape) { height: 30px; }
}

.member-details--icon {
  @include clearfix;
  @include position(relative, -40px null null -25px);
  @include rem(height, 80px);
  @include rem(width, 25px);
  @include transform(scale(0.3));
  display: inline-block;

  @include media($tablet) {
    @include rem(height, 100px);
    @include rem(width, 45px);
    @include transform(scale(0.5));
  }

  &:first-child { margin-left: 10px; }
}