// Contact Page
// ========================================


// Variables
$contact-link-color:  $white-base;
$contact-link-margin: 30px;

$textarea-height:     100px;

$map-height:          500px;


// Structure
.contact-information--link{
  @include span-columns(4 of 4);
  display: block;

  @include media($tablet) {
    @include span-columns(4 of 8);
  }

  &:hover .button i {
    @include transform(rotate(360deg));
    background-color: $orange-base;
    border-right: none;
    opacity: 1;
  }

  .button {
    @include position(relative);
    @include rem(padding-left, 55px);
    display: block;

    .telephone--icon,
    .mail--icon {
      @include position(absolute, 0 null null 0);
      border-right: 1px solid $white-base;
    }
  }
}

.contact-form--card {
  @include span-columns(4 of 4);

  @include media($tablet) {
    @include span-columns(8 of 12);
    @include shift(2 of 12);
  }
}

.contact-form--checkbox {
  @include span-columns(4 of 8);
  @include omega;
}

.contact-form--textarea {
  @include rem(height, $textarea-height);
}

#map-canvas {
  @include rem(height, $map-height);
  width: 100%;
}