// Hompepage Styles
// ========================================


// About Section
.home-about-image {
  display: none;
  opacity: 0.5;

  @include media($tablet-landscape) {
    @include span-columns(3 of 12);
    @include rem(padding-right, 38px);
    @include shift(1 of 12);
    border-right: 1px solid $white-base;
    display: block;
  }

}

.home-about-content {
  @include span-columns(4 of 4);
  @include rem(padding, 0 20px);

  @include media($tablet-landscape) {
    @include span-columns(7 of 12);
  }
}


// Services Section
.services-list--home {
  @include media($tablet) { padding-left: 4.5%; }
  @include media($tablet-landscape) { padding-left: 6.5%; }

  .grid--item-link {

    @include media($tablet) {
      &:nth-child(5),
      &:nth-child(6) {
        border-bottom: none;
      }
    }

    @include media($tablet-landscape){
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        border-bottom: none;
      }
    }
  }
}

.grid--item:hover .grid--item-icon {
  background-position-y: -100px;
}


// About Ad Section
.about-ad {
  @include rem(padding, 75px 0);
  background: $blue-base url('../images/ads/about-ad-img.jpg') no-repeat 50% 50%;
  @include background-size(cover);
}

.about-ad--item {
  @include rem(margin-bottom, 10px);
  @include rem(padding, 0 20px);
  @include span-columns(4 of 4);

  @include media($tablet) {
    @include span-columns(6 of 12);
    margin: 0;
    padding: 0;
  }

  @include media($tablet-landscape) {
    @include rem(margin-bottom, 10px);
    @include span-columns(4 of 12);

    &:nth-child(3n) { @include omega; }
  }

  .title,
  .description { color: $white-base; }

  .title {
    @include rem(margin, 5px 0);
    @include s-delta;
  }

  .description { @include s-foxtrot; line-height: normal; }
}