// Hompepage Styles
// ========================================


// About Section
.home-about-image {
  display: none;
  opacity: 0.5;

  @include media($tablet-landscape) {
    @include span-columns(3 of 12);
    @include rem(padding-right, 38px);
    @include shift(1 of 12);
    border-right: 1px solid $white-base;
    display: block;
  }

}

.home-about-content {
  @include span-columns(4 of 4);
  @include rem(padding, 0 20px);

  @include media($tablet-landscape) {
    @include span-columns(7 of 12);
  }
}

.services-list--home {
  @include media($tablet) { padding-left: 4.5%; }
  @include media($tablet-landscape) { padding-left: 6.5%; }

  .grid--item-link {

    @include media($tablet) {
      &:nth-child(5),
      &:nth-child(6) {
        border-bottom: none;
      }
    }

    @include media($tablet-landscape){
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        border-bottom: none;
      }
    }
  }
}