// Service Details Styles
// ========================================


// Variables
$service-content-background: $white-base;
$service-content-height:     380px;

$price-title-border:         1px solid $grey-light;
$price-title-color:          $tan-dark;

$price-item-height:          450px;

$price-cost-background:      $orange-base;
$price-cost-border-radius:   2px;
$price-cost-color:           $white-base;
$price-cost-padding:         10px;


// Structure
.service {

  .service--content-left,
  .service--content-right {
    @include rem(height, $service-content-height);
    @include span-columns(4 of 4);
    background-color: $service-content-background;
    overflow: hidden;

    @include media($tablet) {
      @include span-columns(6 of 12);
    }

    img { width: 100%; }
  }
}


// Pricing Charts
.prices {
  @include clearfix;
  @include rem(padding, 30px 0);
  clear: both;

  .price {
    @include rem(min-height, $price-item-height);
    @include rem(margin, 30px auto);
    @include span-columns(3 of 12);
    text-align: center;
  }
}

.price--title {
  @include rem(padding-bottom, 15px);
  @include s-delta;
  border-bottom: $price-title-border;
  color: $price-title-color;
  text-transform: uppercase;
}

.price--cost {
  @include rem(padding, $price-cost-padding);
  background-color: $price-cost-background;
  border-radius: $price-cost-border-radius;
  color: $price-cost-color;
}

.price--detail {
  @include rem(margin-bottom, 10px);
  @include s-foxtrot;

  &::before {
    content: "•  ";
  }
}

.price--button {
  @include rem(margin-top, 40px);
}