// Service Details Styles
// ========================================


// Variables
$service-content-background: $white-base;
$service-content-height:     380px;


// Structure
.service {

  .service--content__left,
  .service--content__right {
    @include rem(min-height, $service-content-height);
    @include span-columns(4 of 4);
    background-color: $service-content-background;
    overflow: hidden;

    @include media($tablet) {
      @include span-columns(6 of 12);
    }

    img { width: 100%; }
  }

  .service--content__left { background-color: $tan-base; }
}

.featured--content-item {
  @include clearfix;

  &:not(:first-child) {
    @include rem(margin-top, 25px);
    @include rem(padding-top, 25px);
    border-top: 1px solid $tan-base;
  }
}

.featured--content__left {
  @include rem(margin-bottom, 15px);
  @include rem(padding, 5px 5px 2px);
  @include rem(width, 100px);
  @include span-columns(3 of 4);
  background-color: $tan-base;
  border: 1px solid $tan-dark;
  overflow: hidden;

  @include media($tablet) {
    @include span-columns(3 of 9);
  }

  @include media($tablet-landscape) {
    @include span-columns(4 of 12);
  }

  img { width: 100%; }
}

.featured--content__right {
  @include span-columns(4 of 4);

  @include media($tablet) {
    @include span-columns(6 of 9);
  }

  @include media($tablet-landscape) {
    @include span-columns(8 of 12);
  }
}