// Base Layout Styles
// ========================================


// Variables
$page-header-background:    $blue-base;
$page-header-color:         $white-base;
$page-header-height:        500px;
$page-header-mobile-height: 395px;
$page-header-offset:        110px;
$page-header-mobile-offset: 50px;

$page-section-padding:      50px 0;

$title-color:               $tan-dark;
$title-border-color:        $orange-base;
$title-border-color-alt:    $blue-base;
$title-border-height:       4px;
$title-border-width:        100px;


// Global Styles
html,
body {
  overflow-x: hidden;

  &.is-fixed { overflow-y: hidden; }
}


// Resets
.clear { clear: both; }
.reset-padding-bottom { padding-bottom: 0 !important; }
.reset-padding-left   { padding-left:   0 !important; }
.reset-padding-right  { padding-right:  0 !important; }
.reset-padding-top    { padding-top:    0 !important; }


// Page Header
.page--header {
  @include clearfix;
  @include rem(height, $page-header-mobile-height);
  @include rem(margin-top, $page-header-mobile-offset);
  background: $blue-base center bottom no-repeat;
  @include background-size(cover);
  overflow: hidden;

  @include media($tablet) {
    @include rem(height, $page-header-height);
    @include rem(margin-top, $page-header-offset);
  }

  &::after {
    @include position(absolute, 0 0 0 0);
    @include rem(height, $page-header-mobile-height);
    @include rem(margin-top, $page-header-mobile-offset);
    background-color: $black-base;
    display: block;
    opacity: 0.65;

    @include media($tablet) {
      @include rem(height, $page-header-height);
      @include rem(margin-top, $page-header-offset);
    }
  }

}

.page--header__color {
  @include clearfix;
  @include position(relative);
  @include rem(height, $page-header-height);
  @include rem(margin-top, $page-header-offset);
  background-color: $blue-base;
  overflow: hidden;
}

.page--header-container {
  @include position(relative);
  @include outer-container;
}

.page--header-content {
  @include position(absolute, null null null null);
  @include rem(padding, $page-header-offset 20px 0);
  @include span-columns(4 of 4);
  text-align: center;
  z-index: 2;

  @include media($tablet-landscape) {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }

  .title,
  .description {
    @include rem(margin-bottom, 20px);
    @include text-shadow(0 2px 3px, rgba(0, 0, 0, 0.5));
    color: $page-header-color;

  }

  .title {
    @include s-alpha;
    text-transform: uppercase;
    widows: 2;

    @include media($tablet) { @include s-giga; }
  }

  .description {
    @include s-delta;

    @include media($tablet) {
      @include rem(padding, 0 50px);
      @include s-alpha;
      line-height: normal;
    }
  }
}

.page--section-content__center {
  @include rem(padding, 0 20px);
  @include span-columns(4 of 4);

  @include media($tablet-landscape) {
    @include span-columns(8 of 12);
    @include shift(2 of 12);
    padding: 0;
  }
}

// Page Section
.page--section-container {
  @include rem(padding, 0 20px);
  @include outer-container;

  @include media($tablet-landscape) { padding: 0; }
}

.page--section {
  @include rem(padding, $page-section-padding);

  &.blue { background-color: $blue-base; }
  &.tan { background-color: $tan-base; }
  &.orange { background-color: $orange-base; }
}

.page--section-header {
  @include rem(margin-bottom, 40px);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.page--section-title {
  color: $title-color;
}

.title--border {
  @include rem(height, $title-border-height);
  @include rem(width, $title-border-width);
  background-color: $title-border-color;
  border: none;
  border-radius: 30em;
  display: block;
  margin: 0 auto;

  &.blue { background-color: $title-border-color-alt; }
}

.page--content__left,
.page--content__right {
  @include span-columns(4 of 4);

  @include media($tablet) {
    @include span-columns(6 of 12);
  }

  img { width: 100%; }
}
